{% extends "base.html" %}

{% block title %}
Create Quiz
{% endblock %}

{% block content %}

<h1>Create Quiz</h1>

<form method="POST">

    {{ form.hidden_tag() }}

    <p>
        {{ form.title.label }}
        {{ form.title() }}
    </p>

    <p>
        {{ form.description.label }}
        {{ form.description() }}
    </p>

    <p>
        {{ form.category.label }}
        {{ form.category() }}
    </p>

    <p>
        {{ form.difficulty.label }}
        {{ form.difficulty() }}
    </p>

    <p>
        {{ form.time_limit.label }}
        {{ form.time_limit() }}
    </p>

    <p>
        {{ form.submit() }}
    </p>

</form>

<a href="{{ url_for('admin.quizzes') }}">
    Back to Quizzes
</a>

{% endblock %}