{% extends "base.html" %}

{% block title %}
Create Quiz
{% endblock %}

{% block content %}

<h1>Create Quiz</h1>

<form method="POST">

    {{ form.hidden_tag() }}

    <p>
        {{ form.title.label }}<br>
        {{ form.title(size=50) }}
    </p>

    <p>
        {{ form.description.label }}<br>
        {{ form.description(rows=5, cols=50) }}
    </p>

    <p>
        {{ form.category.label }}<br>
        {{ form.category() }}
    </p>

    <p>
        {{ form.difficulty.label }}<br>
        {{ form.difficulty() }}
    </p>

    <p>
        {{ form.time_limit.label }}<br>
        {{ form.time_limit() }}
    </p>

    <p>
        {{ form.submit() }}
    </p>

</form>

<p>
    <a href="{{ url_for('admin.quizzes') }}">
        Back
    </a>
</p>

{% endblock %}